.App {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.UserForm {
  width: 600px;
  text-align: start;
}

.UserTable {
  width: 700px;
}
